/* Restaurant page styles */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #fff8f0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 0 0;
    background-color: #fff8f0;
}

.nav-button {
    color: #2e2e2e;
    background-color: #c0392b;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 8px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #27ae60;
}

#content {
    flex: 1;
    background-color: #fff8f0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff8f0;
    gap: 4rem;
}

.page-header-text {
    font-size: 4rem;
    font-weight: bold;
    color: #2e2e2e;
    border-bottom: 4px solid #c0392b;
    padding-bottom: 0.2em;
    letter-spacing: 0.05em;
}

.page-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 40rem;
    border: 4px solid #c0392b;
    border-radius: 8px;
    padding: 1.5rem;
}

.page-section-divider {
    border-top: 4px solid #c0392b;
    padding-top: 1rem;
}

.page-section-header {
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.page-section-header-text {
    font-size: 2rem;
    font-weight: bold;
    color: #2e2e2e;
}

.page-section-text {
    font-size: 1.25rem;
    color: #2e2e2e;
}

.menu-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.menu-item-image {
    width: 40%;
    height: auto;
    border-radius: 8px;
}

ul {
    margin: 0;
  }
  
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    background-color: #fff8f0;
}

#footer-content {
    font-size: 1rem;
    color: #2e2e2e;
}

a {
    color: #2e2e2e;
    text-decoration: none;
}

a:hover {
    color: #27ae60;
}
